body {
    background-image: url('../images/backgroundimagethree.jpg'); /*set up background*/
    background-repeat : no-repeat;
    background-size: cover;
  }

.popup {/*About button*/
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 22px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 500px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 35px;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -75%);
}

.popup .popuptext::after {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(212, 204, 204) transparent transparent transparent;
} 

.popupclose{
  color: rgb(0, 0, 0);
  position: absolute;
  top: 2%;
  left: 95%;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

h1{
  position: absolute;
  left:50%;
  top:15%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
}
  
h2{
  position: absolute;
  left:50%;
  top:3%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h3 {
  position:absolute; 
  left:50%;
  top: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h4 {
  position:absolute; 
  left:95%;
  top: 93%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button1 {/*New User set up*/
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 22px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
    position: absolute;
    top: 61%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .button2 {/*Old User set up*/ 
      background-color: #ffffff;
      border: none;
      border-radius: 4px;
      color: rgb(0, 0, 0);
      padding: 22px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 300px;
      position: absolute;
      top: 73%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    } 



  

