body {
    font-family:Verdana, sans-serif;
  }

img{
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
}

.title{
width:100vh;
height:auto;
left:50vw;
top:30vh;
transform:translate(-50%,-50%);
}

h2{
  position: absolute;
  left:50%;
  top:3%;
  transform: translate(-50%, -50%);
}

h3 {
  position:absolute; 
  left:50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

h4 {
  position:absolute; 
  left:95%;
  top: 93%;
  transform: translate(-50%, -50%);
}
.mainButton{
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 22px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 300px;
}

.mainPopup{
  visibility: hidden;
  width: 80vh;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 35px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.newuser{/*New User set up*/
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutPopup {/*About button*/
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The about popup */

.aboutPopupInfo{
  color: rgb(0, 0, 0);
  position: absolute;
  width:80%;
  text-align: center;
  top: 18%;
  left: 10%;
  font-size: 18px;
}

.aboutPopupClose{
  color: rgb(0, 0, 0);
  background-color: #ff0000;
  position: absolute;
  top: 3%;
  left: 93%;
  font-size: 18px;
}

.oldUserPopup {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oldUserPopupInfo{
  color: rgb(0, 0, 0);
  position: absolute;
  width:80%;
  text-align: center;
  top: 18%;
  left: 10%;
  font-size: 18px;
} 

.oldUserPopupClose{
  color: rgb(0, 0, 0);
  background-color: #ff0000;
  position: absolute;
  top: 3%;
  left: 93%;
  font-size: 18px;
}

.form-container{
  background-color: white;
  width: 300px;
}

input[type=text]{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 18px;
  width: 225px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.inputSubmit{
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  left: 70%;
  font-size: 18px;
  width: 75px;
  border-radius: 4px;
}

.blur{
  filter:blur(20px);
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
}

.failed{
  visibility: hidden;
}

  

