body{
    background-color: rgb(177, 227, 229);
    background-size:100%;
    font-family: Verdana, sans-serif;
} 

/*code for row spacing*/
h1{
    position:relative;
    font-size: 13vh;
    width:100%;
    top:3vh;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
    width:30%;
    top:57vh;
}
p{
    font-size:20px;
    text-align: center;
    width: 30%;
    top:65vh; 
}
img{
    position: absolute;
    top:45vh;
    border-radius:50%;
    /* margin: 6.3vw;
    left:12.5vw;
    border-radius: 50%;
    margin-top: 4vh;
    margin-bottom :0vh; */
}
.select{
    color:brown;
    background-color: aqua;
    border-color: rgb(138, 136, 136);
    top:80vh;
    height:8vh;
    width:16vh;
    border-radius: 4px; 
}

/*code for columnal spacing of text*/
.fish1{
    position:absolute;
    /* text-align:center; */
    transform: translate(-50%,-50%);
    left:25vw;
}
.fish2{
    position:absolute;
    /* text-align: center; */
    transform: translate(-50%,-50%);
    left:50vw;
}
.fish3{
    position:absolute;
    /* text-align: center; */
    transform: translate(-50%,-50%);
    left:75vw;
}

.newUsername{
    position: absolute;
    text-align: center;
    background-color: #ffffff;
    visibility:hidden;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 22px 32px;
    font-size: 16px;
    margin: 4px 2px;
    width: 600px;
    height: 400px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectFishUsername{
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    width:80%;
    top: 18%;
    left: 10%;
    font-size: 18px;
}

.selectFishUsernameInfo{
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    width:80%;
    top: 30%;
    left: 10%;
    font-size: 14px;
}

input[type=text]{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 18px;
    width: 225px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
.usernameSubmit{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 65%;
    font-size: 18px;
    width: 75px;
    border-radius: 4px;
  }

.blur{
    filter:blur(20px);
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
  }

  .failed{
    visibility: hidden;
    position: absolute;
    text-align: center;
    font-size: 15px;
    width: 50%;
    top: 40%;
    left: 18%;
  }

  .selectFishClose{
    color: rgb(0, 0, 0);
    background-color: #ff0000;
    position: absolute;
    top: 5%;
    left: 93%;
    font-size: 18px;
}
  